<?xml version="1.0"?>
<configuration>
	<appSettings>
		.. all keys go here
	</appSettings>
	<connectionStrings>
		.. all connections go here
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add path=..../>
		</httpHandlers>
		
		<pages enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			
		</pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				.. all assembly versions here
			</assemblies>
		</compilation>
		<sessionState mode="InProc" cookieless="false" timeout="20"/>
		<authentication mode="Forms">
			<forms name="<name>" loginUrl="~/default.aspx" protection="All" timeout="20" slidingExpiration="true" path="/" cookieless="UseCookies"/>
		</authentication>
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<httpRuntime requestPathInvalidCharacters="&lt;,&gt;,*,:,\" requestValidationMode="2.0" executionTimeout="1000" maxRequestLength="209715200" useFullyQualifiedRedirectUrl="false" requireRootedSaveAsPath="true" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000"/>
		
		
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="5000000"/>
			</webServices>
			<scriptResourceHandler enableCompression="true" enableCaching="true"/>
		</scripting>
	</system.web.extensions>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<standardEndpoints>
			<webHttpEndpoint>
				<!-- Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
					via the attributes on the <standardEndpoint> element below-->
				<standardEndpoint maxReceivedMessageSize="2147483647" name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>
</configuration>
